{% block about %}
<div id="about2">
<div class="aboutSection">

        <div class="aboutContents">
            <h2> About</h2>
            <div id="frontPictureWrapper">
            </div>
            <div id="aboutTextWrapper">
                <p>
                    First computer my family had lasted less than one day in my curious hands of mine. I was ten back
                    then and it took me an hour or two to get bored with paint, solitaire and minesweeper(let me know
                    if you need explaining the rules). I was fascinated by it so much that I wanted to try out every
                    choice in control panel, open every folder and try to run each file.
                </p>
                <p>
                    After mere hours - Windows 98 interface was turned to bright pink, display language was Korean
                    and screen-saver, of course, - was turned to "3D Pipes".
                </p>
                <p>
                    The fascination with computers and urge to explore the limits of them never left me, many years
                    later I still break them sporadically - only now I am quicker to roll back the outcomes of my
                    experiments and once I was introduced to concept of environments - DEV became a sandbox for my
                    creativity.
                </p>
                <p>
                    First application I developed was "MS Access" based time tracker for international company
                    with more than 10,000 employees. Since 2014 It is used daily by department of 80. I would lie saying
                    that it was easy or smooth ride all the way, but the process of creating something from the ground
                    up, the freedom to implement changes users were craving in previous iterations, and seeing it used
                    by so many people is rewarding better than anything else. While it was one-off project, ever since
                    then I kept learning programming.
                </p>
                <p>
                    I know many people who were able to teach themselves programming, but doing it solitary did not felt
                    right to me, so after three years of working as a Senior Financial Systems Analyst - I started full
                    time Back-End studies in CodeAcademy, which I completed in summer of 2018.
                </p>
                <p>
                    I like my work to speak for me, so
                    I encourage you to keep scrolling down to my portfolio and current projects. Oh, and people are
                    always asking what GTO 3000 means? To be honest, it sounds cool to me and that's it.
                </p>

            </div>
        </div>
        </div>
</div>
{% endblock %}
