$backgroundColor: rgb(171,198,204);
$complimentaryWhite: rgb(243,253,229);
$complimentaryYellow: rgb(255,255,123);
$complimentaryRed: rgb(221,22,50);

@font-face {
    font-family: "Poppins-Medium";
    src: url( /fonts/Poppins-Medium.ttf ); /* IE */
    src: local("Poppins-Medium"), url("/fonts/Poppins-Medium.ttf"); /*non-IE*/
}

body {
    background-color: $backgroundColor;
    margin: 0;
}

h2{
    font-size: 30px;
}

