<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://sauliusgto3000.lt//styleelements/favicon.png">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset("build/css/app.css") }}">
            <link rel="stylesheet" type="text/css" href="{{ asset("build/css/homepage.css") }}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {% endblock %}
        {% block homepage %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
