
{% block contacts %}
    <div class="contactsSection">
        <div class="contactsContents">
            <div class="contactsTitle"><h2>Contacts</h2></div>
            <div class="contactsList">
                <div class="contactsWrapper">
                    <h3>CV</h3>
                    <p>Saulius Usonis CV (English)</p>
                    <p>Saulius Usonis CV (Lithuanian)</p>

                    <h3>Resume Letter</h3>
                    <p>Saulius Usonis Resume Letter (English)</p>
                    <p>Saulius Usonis Resume Letter (Lithuanian)</p>

                    <h3>Letters of recommendation</h3>
                        <p>To protect sensitive contact information of authors - letters
                            of recommendation can be received via email upon request. </p>

                    <h3>email</h3>
                        <p>sauliusonis@gmail.com</p>
                    <h3>phone:</h3>
                        <p>+370 677 15377</p>
                </div>
            </div>
            </div>
        </div>
{% endblock %}