
{% block projects %}
    <div class="projectsSection">
        <div class="projectsContents">
            <div class="projectsTitle"><h2>Projects</h2></div>
            <div class="projectsList">

            </div>
            </div>
        </div>
{% endblock %}