
{% block projects %}
    <div id="projects">
    <div class="projectsSection">
        <div class="projectsContents">
            <div class="projectsTitle"><h2>Projects</h2></div>
            <div class="projectsList">
                <div class="projectWrapper">
                    <h3>Ubago Duona</h3>
                    <p>Ubago Duona is a website I was making as my main project during studies in CodeAcademy.
                        We were encouraged to think about the projects which would serve real world scenarios and
                        coincidentally - my writer fried Ieva was about to have a birthday few days after my graduation
                        without much doubts - the works of her birthday gift began.
                    </p>
                    <p>
                        From backend perspective - Ubago duona is running on Symfony 4.1, with as little plug ins and
                        packages as possible.
                    </p>
                    <p>
                        The visuals, including front end - are made without frameworks. AS my studies are focused more
                        on back-end - I wanted to do everything "manually" and challenge myself to see if I can make
                        page look good on both mobile and desktop without using trendy frameworks. After this page - I
                        promissed myself to never do same experiment again for my own good :)
                    </p>
                    <p>
                        Take a look:
                        <a href="https://www.ubagoduona.lt">Ubago Duona</a>
                    </p>
                </div>

            </div>
            </div>
        </div>
    </div>
{% endblock %}