{% extends 'base.html.twig' %}

{% block title %}Saulius GTO3000{% endblock %}

{% block homepage %}
<div class="bodyWrapper">
    <div class="hompageTop">
        <div class="homepageCenter">
            <svg id="logoWithAnimations" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="600" height="600" viewBox="0 0 158.75 158.75" version="1.1" id="svg1551" inkscape:version="0.92.2 (5c3e80d, 2017-08-06)" sodipodi:docname="animation-start.svg">
                <defs id="defs1545"/>
                <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="0.7" inkscape:cx="308.30705" inkscape:cy="300.11894" inkscape:document-units="mm" inkscape:current-layer="layer1" showgrid="false" units="px" inkscape:window-width="1858" inkscape:window-height="1057" inkscape:window-x="1654" inkscape:window-y="-8" inkscape:window-maximized="1"/>
                <metadata id="metadata1548">
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                            <dc:title/>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-138.24998)">

                    <path style="fill:#4b0d17;fill-opacity:1;stroke:none;stroke-width:0.38033614;stroke-opacity:1" d="M 16.710879,217.53247 C 7.9728417,204.0016 4.0245379,197.54668 4.4320381,197.45819 c 0.9361376,-0.20315 93.8917839,-6.27285 94.5188779,-6.17177 0.806712,0.13007 56.330054,24.75588 56.270614,24.95725 -0.0274,0.0927 -27.55986,4.77083 -61.183074,10.39524 -33.623268,5.62453 -61.879054,10.36386 -62.790666,10.53195 l -1.657431,0.30555 z" id="path1716-60-3-3" />
                    <path style="fill:#4b0d17;fill-opacity:1;stroke:none;stroke-width:0.39071715;stroke-opacity:1" d="m 21.287246,282.09882 c 0.20598,-0.68489 2.402046,-9.01347 4.88006,-18.50815 2.478012,-9.49461 4.574502,-17.29538 4.65887,-17.33505 0.314143,-0.14746 125.555834,-22.59342 125.627524,-22.50703 0.15514,0.1868 -11.20379,31.10339 -11.59203,31.27821 -0.41542,0.18713 -120.127517,27.58518 -122.592795,28.05744 l -1.356222,0.25975 z" id="path1718-8-32-7"/>
                    <path style="fill:#4b0d17;fill-opacity:1;stroke:none;stroke-width:2.00139141;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m 13.021066,157.58803 c 0.211383,0.0382 21.348742,-2.21676 46.971869,-5.01147 25.623097,-2.79477 47.259735,-4.87875 47.351385,-4.76391 0.0917,0.11492 -5.38972,30.65019 -8.56191,40.17386 v 0 c -31.964293,1.80375 -63.695065,2.1574 -95.5737819,4.56873 z" id="path1732-5-8-0" />

                    <path id="top" style="fill:#f3fde5;fill-opacity:1;stroke:none;stroke-width:2.00139141;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m 13.449118,153.89349 c 0.211384,0.0382 21.348708,-2.21676 46.971876,-5.01147 25.623096,-2.79477 47.259746,-4.87875 47.351336,-4.7639 0.0917,0.11491 -5.38969,30.65018 -8.561888,40.17385 v 0 c -31.964279,1.80375 -63.695044,2.1574 -95.5738012,4.56874 z" />
                    <path id="middle"  style="fill:#f3fde5;fill-opacity:1;stroke:none;stroke-width:0.38033614;stroke-opacity:1" d="M 17.138911,213.83806 C 8.4008811,200.30713 4.45259,193.85214 4.8600705,193.76365 c 0.9361377,-0.20314 93.8918185,-6.27285 94.5189215,-6.17177 0.806658,0.13007 56.330018,24.75602 56.270588,24.95738 -0.0276,0.0927 -27.55989,4.77083 -61.183084,10.39524 -33.623262,5.62453 -61.87904,10.36386 -62.790666,10.53196 l -1.657399,0.30554 z" />
                    <path id="bottom" style="fill:#f3fde5;fill-opacity:1;stroke:none;stroke-width:0.39071715;stroke-opacity:1" d="m 21.715292,278.40441 c 0.20598,-0.68489 2.402052,-9.01347 4.88008,-18.50815 2.47796,-9.4946 4.574468,-17.29537 4.658876,-17.33504 0.314111,-0.14747 125.555832,-22.59343 125.627522,-22.50704 0.15511,0.18681 -11.2038,31.1034 -11.59204,31.27821 -0.41545,0.18713 -120.127525,27.58519 -122.592835,28.05745 l -1.356203,0.25974 z" />




                    <text xml:space="preserve" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:6.44643068px;line-height:1.25;font-family:HeadlandOne;-inkscape-font-specification:'HeadlandOne, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" x="29.401285" y="266.15216" id="text940-9-5-0-6-6-2-5-3" transform="rotate(-10.011567)"><tspan sodipodi:role="line" x="29.401285" y="266.15216" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Sanchez;-inkscape-font-specification:Sanchez;letter-spacing:3.51349711px;word-spacing:0.09064821px;fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="contacts">contacts</tspan><tspan sodipodi:role="line" x="29.401285" y="274.2804" style="fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="tspan942-3-0-0-3-4-9-65-1"/></text>
                    <text xml:space="preserve" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:6.44643068px;line-height:1.25;font-family:HeadlandOne;-inkscape-font-specification:'HeadlandOne, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" x="11.727229" y="207.54602" id="text940-9-5-0-6-6-2-5-9-5" transform="rotate(-4.4728345)"><tspan sodipodi:role="line" x="11.727229" y="207.54602" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Sanchez;-inkscape-font-specification:Sanchez;letter-spacing:3.51349711px;word-spacing:0.09064821px;fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="portfolio">portfolio/</tspan><tspan sodipodi:role="line" x="11.727229" y="215.67426" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Sanchez;-inkscape-font-specification:Sanchez;letter-spacing:3.51349711px;word-spacing:0.09064821px;fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="tspan1357-0">projects</tspan><tspan sodipodi:role="line" x="11.727229" y="223.80249" style="fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="tspan942-3-0-0-3-4-9-65-9-1"/></text>
                    <text xml:space="preserve" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:6.44643068px;line-height:1.25;font-family:HeadlandOne;-inkscape-font-specification:'HeadlandOne, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" x="25.918318" y="171.53378" id="text940-9-5-0-6-6-2-5-9-7-0" transform="rotate(-1.156206)"><tspan sodipodi:role="line" x="25.918318" y="171.53378" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Sanchez;-inkscape-font-specification:Sanchez;letter-spacing:3.51349711px;word-spacing:0.09064821px;fill:#dd1632;fill-opacity:1;stroke:#de263e;stroke-width:0.46388462;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="about">about</tspan></text>
                </g>
            </svg>
        </div>
    </div>
    <div class="homepageBottom">
        <div class="homepageLogo">
            <img src="{{ asset('styleelements/logotype.png') }}"/>
        </div>

        <div class="homepageText">
            <p>Hi, I'm Saulius Usonis and I am backend web developer based in Vilnius, Lithuania.<br>
                Check out my portfolio and projects. </p>

        </div>
        <div class="homepageText">
            <p> Feel free to get to know me better, see my resume and CV.<br>
                I am always looking forward to new opportunities and partners, so feel free to reach me out or share my contacts.</p>

        </div>
    </div>
</div>

{% endblock %}
